[worldserver]

###################################################################################################
#	Learn spells on level-up
###################################################################################################

# Enable the module? (1: true | 0: false)

LearnSpells.Enable = 1

# Announce the module when the player logs in?

LearnSpells.Announce = 1

# Should the player learn spells for the first level on first login?
# (1: true | 0: false)

LearnSpells.OnFirstLogin = 0

# Max level Limit the player will learn spells
# 	Default:  = 80

LearnSpells.MaxLevel = 80
