[worldserver]

###################################################################################################
#	mod-player-transmog
###################################################################################################

# Enable the module? (1: true | 0: false)

PlayerTransmog.Enable = 1


//变身所用道具
PlayerTransmog.UseItem = 0

 
